@charset "utf-8"; 
/* NHN (developers@xpressengine.com) */

/* ----- FORUM GLOBAL CSS ----- */
.alert {
	border: 5px solid red;
}

.cleared {
	clear: both;
}

#forum {
	font-family: Verdana, Arial, sans !important;
	font-size: 12px;
}

#forum p {
	margin: 0;
}

#forum h2 {
	font-weight: normal;
	font-size: 22px;
}

#forumBreadcrumbs a {
	color: #006ea6;
}

#forum h3, #forum h4, #forum h5, #forum h6 {
	font-weight: normal;
	margin: 0;
} 

#forum h3 {
	font-size: 22px;
}

#forum h4{
	font-size: 18px;
}

#forum h5, #forum h6 {
	font-size: 14px;
}

#forum .select {
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px 5px;
	vertical-align: middle;
	background: #fff;
}

#forum .select:focus, #forum .select:hover, #forum .inputText:focus, #forum .inputText:hover  {
	border: 1px solid #aaa;
	background: #fff6c3;
}

#forum .inputText {
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px 5px;
	vertical-align: middle;
	background: #fff;
}

#forum label {
	font-style: italic;
}

.gF {
	font-family: Georgia, sans !important;
}

.gF a {
	color: #005987;
	text-decoration: none;
}

.gF a:hover {
	text-decoration: underline;
}

.gF label {
	font-size: 18px;
}

h4.gF {
	color: #000;
}

#forumTitle {
	font-size: 36px;
	font-weight: normal;
	font-style: italic;
	margin: 30px 0 10px 0;
}

#forumSubTitle {
	font-size: 1.2em;
	margin: 0 0 20px 20px;
}

.forumCategoryList {
	width: 100%;
}

.forumCategoryList .separator td {
	border-bottom: 1px dotted #bbb;
}

.forumCategoryList .separator.last td {
	border: 0;
}


.forumCategoryList td.top {
	vertical-align: top;
}

.forumCategoryList td.memberInfo {
	background: #f8f8f8;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(246,246,246))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,255,255) 0%,
		rgb(246,246,246) 100%
	);
}

.forumCategoryList .rootCateg td {
	padding: 10px 0 0 0;
}





.forumCategoryList .large {
	width: 50%;
}

.forumCategoryList .medium {
	width: 40%;
}

.forumCategoryList .small {
	width: 15%;
}

#forum  .left {
	text-align: left;
}

#forum .center {
	text-align: center;
}

#forum  .right {
	text-align: right;
}

.forumCategoryList .lightGray {
	background-color: #f6f6f6;
}

.forumCategoryList .mediumGray {
	background-color: #dcdcdc;
}

.forumCategoryList .strongGray {
	background-color: #bbbbbb;
}

.forumCategoryList .separator td {
	padding: 10px;
}

#forum .catDescription {
	color: #888888;
	margin: 5px 0 0 0;
}

#forum .numbers {
	font-style: italic;
	font-size: 18px;
}

#forumBreadcrumbs {
	font-size: 13px;
	margin: 0 0 5px 0 !important;
	padding-top: 5px;
}

.openClose {
	display: block;
	width: 7px;
	height: 15px;
	background: url('../images/common/arrow_map.png') 0 0 no-repeat;
	cursor: pointer;
	margin: 2px 0 0 0;
}

.openClose.on {
	background: url('../images/common/arrow_map.png') -7px 0 no-repeat;
}

.thread a {
	color: #000;
}

.threadAuthor span, .subject span, .postDate span, .attachment span {
	color: #888;
}

.threadAuthor a, .subject a, .postDate a {
	color: #006ea6;
}

.threadAuthor {
	font-style: italic;
}

.notice {
	background: #ffe7b4;
}

#topic {
	padding: 0 15px;
	margin: 10px 0 0 0;
}

#topicDetailsLabel {
	color: #888;
}

#topicDetails {
	float: right;
	padding-top: 5px;
	width: auto !important;
}

#buttonsLeft {
	float: left;
}

#buttonsRight {
	float: right;
}

.forumSearchForm p, .forumWriteHeader p, .forumInformation{
	line-height: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ededed;
	padding: 10px;
	border: 1px solid #ddd;
}

.specialBox {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ededed;
	padding: 0 10px;
	border: 1px solid #ddd;
}

.forumWriteHeader p {
	margin: 10px 0 !important;
}

.forumSearchForm input.inputText, .forumWriteHeader input.inputText, .longForm input.inputText, #fr_quote input.inputText {
	width: 300px;
}

.forumSearchForm select, .forumWriteHeader select , .longForm select {
	width: 312px;
}

#searchMessage {
	background: #fff6c3 url('../images/common/search_message_icon.png') 10px center no-repeat;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 5px solid #f7edb5;
	padding: 5px 10px 5px 80px;
}

#searchMessage p {
	line-height: 20px;
	font-size: 18px;
	color: #864d0a;
	font-style: italic;
	margin: 10px !important;
}

#searchMessage p a {
	text-decoration: underline;
}

#forum .subject {
	float: left;
	font-weight: bold;
}

#forum .postDate {
	float: right;
	font-weight: bold;
}

.threadSeparator td {
	height: 5px;
	padding: 0 !important;
}

.subject span, .postDate span, .attachment span {
	font-weight: normal;
	font-style: italic;
}

#forum .filesList {
	list-style-image: url('../images/common/bullet.png');
	margin: 0;
	padding: 0;
}

#forum .filesList li {
	margin: 5px 0 5px 20px;
}

.memberInfo .avatar {
	text-align: center;
	margin: 15px 0;
}

.memberInfo .avatar img {
	border: 3px solid #ddd;
}

.memberInfo .additionalInfo {
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}

.memberInfo .additionalInfo span {
	color: #888;
	font-weight: normal;
}

#extras {
	margin: 30px 0 0 0;
}

#forum .check {
	padding-left: 15px;
}

#forum .quote {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0 0 10px 0;
}

#forumPagination {
	margin: 15px 0 !important;
	text-align: center;
}

#customHeader,#forumFooter {
	margin: 15px 0 0 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #ededed;
	line-height: 18px;
}

#forumDescription {
	padding: 0 0 15px 0;
	font-size: 17px;
	font-style: italic;
}

.quoteTitle {
	font-style: italic;
	margin: 0 0 5px 0 !important;
}

/*.simpleCategory {
	border: 5px solid #ebebeb;
	margin: 5px 0 0 0;
}*/

.forumCategoryList {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}