@charset "utf-8";/* CSS Document */

h1,h2,h3,h4,h5,h6,tr,td{margin:0;padding:0}
#forum_mod{border:1px solid #bcbbbb;background:#fff}
#forum_mod *{font-family:Arial}
.forumHeader h1{margin-top:10px;margin-bottom:20px;font-size:16px}
#forumTitle2{height:32px;margin:0 0 -1px;padding-left:20px;border:1px solid #bcbcbb;border-bottom:none!important;background:url(../images/black/bg_th.gif) repeat-x;font-size:14px;line-height:32px}
.forumCategoryList{width:100%}
.forumCategoryList th{height:32px;background:url(../images/black/bg_th.gif) repeat-x;font-size:14px;font-weight:normal}
.forumCategoryList th a{color:#2e2b2b;font-size:14px;text-decoration:none}
.forumCategoryList th div{height:32px;background:url(../images/black/line_th.gif) no-repeat 0 50%;line-height:32px}
.forumCategoryList th .th1{padding-left:20px;background:none;text-align:left}
.forumCategoryList th .th4{padding-left:20px;text-align:left}
.forumCategoryList th input{display:inline-block;margin:0 15px 0 0}
.forumCategoryList td{height:62px;margin-bottom:-1px;border-bottom:1px solid #ddd;font-size:14px;text-align:center}
.forumCategoryList td a{color:#1b1c1c;font-size:14px;text-decoration:none}
.forumCategoryList td.td1{padding-left:52px;background:url(../images/black/ico01.gif) no-repeat 20px 50%;text-align:left}
.forumCategoryList td.td2{background:#f6f6f6}
.forumCategoryList td.td4{padding-left:20px;background:#f6f6f6;font-size:11px;text-align:left}
.forumCategoryList td.td4 a{color:#2465a9;font-size:11px;text-align:left}
.forumCategoryList td.td4 p{margin:0;padding:0}
.forumCategoryList .separator1 .td1{padding:0;border-bottom:0;background:none}
.forumCategoryList .separator1 .category_tit{height:46px;margin-left:20px;padding-left:60px;border-bottom:1px solid #ebebea;background:url(../images/black/ico02.gif) no-repeat 30px 50%;line-height:46px}
.forumCategoryList .separator1 td{height:46px;border-bottom:1px solid #ebebea;font-size:12px}
.forumCategoryList .separator1 td.td4{font-size:11px}
.forumCategoryList .separator2 td.sub_forum{padding-left:80px;!important:undefined}
.forumCategoryList .t_last td{border-bottom:0;font-size:11px;text-align:left}
.forumCategoryList .t_last .td_user{padding-left:20px}
.forumCategoryList .t_first{width:100%}
.forumCategoryList .t_first td{border-bottom:none;text-align:left}
.forumCategoryList td.sub_forum{padding-left:52px;background:url(../images/black/ico02.gif) no-repeat 20px 50%;text-align:left}
.forumCategoryList td.thread{padding-left:20px;text-align:left}
.forumCategoryList td.thread h3{padding-bottom:5px}
.forumCategoryList td.thread h3 a{color:#2665a9!important;font-size:12px!important}
.forumCategoryList td.thread p{color:#1b1c1c;font-size:11px}
.forumCategoryList td.thread p .member_4{font-size:11px}
.forumCategoryList td input{margin:0 15px 0 0;padding:0}
.forum_content{width:100%;border:1px solid #bbb;border-bottom:0;background:#fff; margin-bottom:10px}
.forum_content .tr1 td{height:27px;border-bottom:1px solid #bbb;background:url(../images/black/bg_td.gif) repeat-x}
.forum_content .tr2 td{height:47px;border-bottom:1px solid #bbb;vertical-align:top}
.forum_content .tr1 .user_name{padding-left:20px;text-align:left}
.forum_content .tr1 .user_name a{color:#2665a9;font-size:14px;text-decoration:none}
.forum_content .user_mod{width:152px;border-right:1px solid #ccc}
.forum_content .user_info{margin:16px 20px}
.forum_content .avatar img{width:98px;height:90px;margin-bottom:10px;border:1px solid #d4d4d4}
.forum_content .additionalInfo{margin-bottom:5px!important;color:#393a3a;font-size:11px}
.forum_content .additionalInfo span{color:#5b5b5c}
.forum_content .content_text{padding:16px 10px;vertical-align:top}
.forum_content .content_text .btn{margin-top:16px;padding-top:11px;border-top:1px solid #ccc;text-align:right}
.forum_content .content_text .btn a{display:inline-block;padding:2px 4px;border:1px solid #194a7d;background:#1f66b0;background:#1f96b0;background-image:-moz-linear-gradient( center bottom, rgb(31,102,176) 0%, rgb(111,171,221) 100% );background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(31,102,176)), color-stop(1, rgb(111,171,221)) );color:#fff;text-decoration:none;border-radius:4px}
.reply_mod{margin-top:30px;border:1px solid #bcbbbb}
.reply_mod th{height:32px;padding-left:20px;background:url(../images/black/bg_th.gif) repeat-x;font-size:14px;text-align:left}
.xpress-editor #smart_content{border:none!important}
.xpress-editor .fileUploader{padding:0 5px}
.alert{border:5px solid red}
.cleared{clear:both}
#forum{font-family:Arial, sans !important;font-size:12px}
#forum p{margin:0}
#forum h2{font-size:22px;font-weight:normal; margin:10px 0 20px 0}
#forumBreadcrumbs a{color:#006ea6}
#forum h3{margin:0;font-size:14px}
#forum h4{margin:0;font-size:18px}
#forum h5,#forum h6{font-size:14px}
#forum h3 a{color:#1b1c1c;font-size:14px;text-decoration:none}
#forum h4 a{color:#1b1c1c;font-size:12px;text-decoration:none}
#forum .select{padding:6px 5px;border:1px solid #ccc;background:#fff;vertical-align:middle;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
#forum .select:focus,#forum .select:hover,#forum .inputText:focus,#forum .inputText:hover{border:1px solid #aaa;background:#fff6c3}
#forum .inputText{padding:6px 5px;border:1px solid #ccc;background:#fff;vertical-align:middle;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
#forumTitle{margin:10px 0;font-family:Arial;font-size:16px}
#forumSubTitle{margin:0 0 20px 20px;font-size:1.2em}
.forumCategoryList{width:100%}
.forumCategoryList .last td{border:0}
.forumCategoryList td.top{vertical-align:top}
.forumCategoryList td.memberInfo{background:#f8f8f8;background-image:-moz-linear-gradient( center bottom, rgb(255,255,255) 0%, rgb(246,246,246) 100% );background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(246,246,246)) )}
.forumCategoryList td.title{padding-left:20px}
.forumCategoryList td.title .thread a{color:#2665a9!important;font-size:12px!important}
.forumCategoryList td.title .threadAuthor{font-size:11px;font-style:normal}
.forumCategoryList td.title .threadAuthor span{color:#1b1c1c}
.forumCategoryList td.title .threadAuthor a{text-decoration:none}
.sub_forums{margin-bottom:20px}
.forumCategoryList .rootCateg th.t1{padding-left:20px;background:none}
.forumCategoryList .rootCateg th.t4{padding-left:20px;text-align:left}
.forumCategoryList td.author_info{padding-left:20px;font-size:11px}
.forumCategoryList td.author_info .author{color:#2465a9;text-decoration:none}
.forumCategoryList td.author_info a{text-decoration:none}
.forumButton{overflow:hidden;margin-top:10px}
.forumButton a{float:left;margin-right:5px;padding:3px 6px;border:1px solid #0b5b75;background:#1f96b0;background-image:-moz-linear-gradient( center bottom, rgb(31,150,176) 0%, rgb(128,208,234) 100% );background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(31,150,176)), color-stop(1, rgb(128,208,234)) );color:#fff;font-weight:bold;text-decoration:none;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;text-shadow:#2d8fa8 1px 1px 0}
.forumCategoryList .large{width:50%;text-align:left!important}
.forumCategoryList .category{padding-left:20px}
.forumCategoryList .medium{width:40%}
.forumCategoryList .small{width:15%}
#forum  .left{text-align:left}
#forum .center{text-align:center}
#forum  .right{text-align:right}
.forumCategoryList .lightGray{background-color:#f7f6f6}
.forumCategoryList .mediumGray{background-color:#dcdcdc}
.forumCategoryList .strongGray{background-color:#bbb}
.forumCategoryList .separator td{height:64px}
#forum .catDescription{margin:5px 0 0;color:#888}
#forum .numbers{font-size:14px;font-weight:bold}
#forumBreadcrumbs{margin:0 0 10px !important;padding-top:5px;font-size:12px}
.openClose{display:block;width:7px;height:15px;margin:2px 0 0;background:url('../images/common/arrow_map.png') 0 0 no-repeat;cursor:pointer}
.openClose.on{background:url('../images/common/arrow_map.png') -7px 0 no-repeat}
.thread a{color:#000}
.threadAuthor span,.subject span,.postDate span,.attachment span{color:#888}
.threadAuthor a,.subject a,.postDate a{color:#006ea6}
.threadAuthor{font-style:italic}
.notice{background:#ffe7b4}
#topic{height:35px;margin:0;padding:0}
#topicDetailsLabel{color:#888}
#topicDetails{float:right;width:auto !important;padding-top:5px}
#buttonsLeft{float:left;margin:0}
.forumSearchForm p,.forumWriteHeader p,.forumInformation{padding:10px;border:1px solid #ddd;background:#ededed;line-height:16px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.specialBox{float:left;width:154px;height:22px;border:1px solid #d6d6d6;background:#fff;border-radius:5px}
.specialBox .search_text{float:left;width:118px;margin:3px 0 0 10px;border:0;color:#6f6f6f;font-size:11px}
.specialBox .btn_sesrch{float:left;margin:4px 0 0 2px}
.forumWriteHeader p{margin:10px 0 !important}
.forumSearchForm input.inputText,.forumWriteHeader input.inputText,.longForm input.inputText,#fr_quote input.inputText{width:300px}
.forumSearchForm select,.forumWriteHeader select ,.longForm select{width:312px}
#searchMessage{padding:5px 10px 5px 80px;border:5px solid #f7edb5;background:#fff6c3 url('../images/common/search_message_icon.png') 10px 50% no-repeat;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
#searchMessage p{margin:10px !important;color:#864d0a;font-size:18px;line-height:20px;font-style:italic}
#searchMessage p a{text-decoration:underline}
#forum .subject{float:left;padding-left:10px}
#forum .subject .re{color:#2665a9}
#forum .postDate{float:right;margin-right:20px;color:#1b1b1b;font-size:11px}
.threadSeparator td{height:5px;padding:0 !important}
.subject span,.postDate span,.attachment span{font-weight:normal}
.memberInfo .avatar{margin:15px 0;text-align:center}
.memberInfo .avatar img{border:3px solid #ddd}
.memberInfo .additionalInfo{font-size:9px;font-weight:bold;text-align:center}
.memberInfo .additionalInfo span{color:#888;font-weight:normal}
#extras{margin:20px 0 0}
#forum .check{padding-left:15px}
#forum .quote{margin:0 0 10px;padding:10px;border:1px solid #ddd;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
#forumPagination{margin:15px 0 !important;text-align:center}
#customHeader,#forumFooter{margin:15px 0 0;padding:10px;border:1px solid #ddd;background:#ededed;line-height:18px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
#forumDescription{padding:0 0 15px;font-size:17px;font-style:italic}
.quoteTitle{margin:0 0 5px;font-style:italic}
.simpleCategory{margin:5px 0 0;border:5px solid #ebebeb}
.forumCategoryList{margin-top:0 !important;margin-bottom:0 !important}
.t_head{border:1px solid #bcbbbb;border-bottom:0}
.forumContent{padding:0 0 0 10px;border:1px solid #bcbbbb;border-top:0;background:#fff}
.category_name{height:62px;margin-left:20px;padding-left:32px;background:url(../images/black/ico01.gif) no-repeat 0 50%;font-weight:bold;line-height:62px}
.separator1 td{margin-left:10px;padding:0;font-size:12px}
.separator1 .category_name{height:46px;margin-left:0;background:url(../images/black/ico02.gif) no-repeat 0 50%;line-height:46px}
.separator1 .category_name2{margin-left:20px}
.separator1 .large,
.separator1 .small{font-size:12px!important}
.thread_mod{overflow:hidden;margin-bottom:20px;border:1px solid #bcbbbb;*zoom:1}
.thread_mod .thread_mod_tit{height:32px;background:url(../images/black/bg_th.gif) repeat-x;line-height:32px}
.thread_mod table{width:100%;margin:5px}
.thread_mod table th{text-align:left}
.thread_mod table td{height:35px;height:35px;text-align:left}
.thread_mod .label_lst{padding:10px; *zoom:1}
.thread_mod .label_lst dt{float:left;margin-right:5px}
.thread_mod .label_lst dt label{font-style:normal}
.thread_mod .label_lst dd{float:left;margin:0 10px 0 0;padding:0}
.thread_mod .label_lst dd input{margin:0;padding:0;vertical-align:top; *margin-top:-4px; overflow:hidden}
.t_lst{margin-bottom:10px}
.t_lst th{text-align:left}
.t_lst td{height:30px}
.fo_write_btn{ margin-bottom:20px}
.content_mod .filesList{ margin:15px 0 0; padding:0}
.content_mod .filesList li{ margin:0!important; background:url(../images/common/bullet.png) no-repeat 0 50%; list-style:none; padding-left:15px}
