@charset "utf-8"; 
/* NHN (developers@xpressengine.com) */

/* XE Black Theme */
.button{ opacity:.7;}

/* forum Reset */
.forum{ background:#000; color:#fff;}
.forum .inputText,
.forum textarea{ border-color:#444;}
.forum .inputText,
.forum textarea,
.forum select{ background:#333; color:#fff;}
.forum a{color:#fff;}

/* forum Header */
.forumHeader .forumTitle{ border-color:#999; background-image:url(../images/common/iconforumHeading.gif);}
.forumHeader .forumTitleText{ border-color:#ccc; background-image:url(../images/black/lineVr11.gif);}
.forumHeader .forumTitleText a{ color:#fff;}
.forumHeader .forumTitleText em{ color:#ccc;}
.forumHeader .forumDescription{ background:#333; }

/* forum Information */
.forumInformation li{background-image:url(../images/black/lineVr11.gif);}
.forumInformation em,
.forumInformation strong{ color:#ff6600;}
.forumInformation .infoLeft{ background-image:url(../images/common/iconArticle.gif);}
.forumInformation .infoRight li.icon{ background:none;}
.forumInformation .infoRight li.icon a{ background-image:url(../images/common/icons.gif);}

/* forum List Form */
.forumListForm em,
.forumListForm strong{color:#ff6600;}

/* forum List */
.forumList{ border-color:#333;}
.forumList .jumpTo button{ background-color:transparent; background-image:url(../images/common/buttonBg2byte.gif);}
.forumList tr.notice{ background:#222;}
.forumList tr.bg1{ background:#000;}
.forumList tr.bg2{ background:#181818;}
.forumList th{ border-color:#000; color:#fff; background-color:#666; background-image:url(../images/black/bgThDefault.gif);}
.forumList th a{ color:#ff6600;}
.forumList td{ border-color:#333; color:#fff;}
.forumList td .category{ color:#fff; background-image:url(../images/black/lineVr11.gif);}
.forumList td.title .replyNum{ color:#ccc;}
.forumList td.title .replyNum sup{ color:#999;}
.forumList td.title a.forum:link,
.forumList td a.replyAnchor:link{ color:#6CF;}
.forumList td .by{ color:#666;}

.forumList td.summary .thumb{ border-color:#999; background:#444;}

.thumbHeader{ border-color:#999; color:#333; background-color:#666; background-image:url(../images/black/bgThDefault.gif);}
.thumbHeader a{ color:#ff6600;}
.thumbHeader .jumpTo button{ background-color:transparent; background-image:url(../images/common/buttonBg2byte.gif);}

.thumbList{ border-color:#333;}
.thumbList li .thumb{ background:#222; border-color:#333;}
.thumbList li .thumb a .text{ color:#ccc;}
.thumbList li .thumb a .category{ background:#000; opacity:.6; filter:alpha(opacity=60); color:#fff;}

/* forum Navigation */

/* Search Form */

/* forum Read */
.forumReadHeader{ border-color:#666;}

.forumReadBody{ border-color:#666;}
.forumReadBody .memberSignature{ border-color:#666;}

.forumReadFooter{ color:#999;}
.forumReadFooter a{ color:#999;}
.forumReadFooter dt{ background:#000;}

.forumRead .forumNavigation{ border-color:#666;}

.feedbackList{ color:#ccc;}
.feedbackList .feedbackHeader{ color:#000;}
.feedbackList .feedbackHeader strong{ color:#ff6600;}

.feedbackList .item{ border-color:#666;}
.feedbackList .reply .indent{ border-left-color:#666;}

/* Time */
.time *{ color:#ccc;}
.time dt{ background:#000;}

/* Attached File */
.attachedFile *{ color:#999;}
.attachedFile dd a{ color:#999;}
.attachedFile dd a .bubble{ background:#666; border-color:#555;}

.replyForm{ color:#666; background:#f4f4f4;}
.replyForm .title{ color:#000;}

/* forum Write */
.forumWrite .forumNavigation,
.forumEditor .forumNavigation{ border-color:#666;}

/* UserName & Password */
.forum .userNameAndPw,
.forum .editorOption{ border-color:#666; background:#222;}

/* Comment */
.forum .forumEditor{ border-color:#666; background:#333;}
.forum .commentEditor .commentHeader{border-color:#666; color:#fff;}

/* Secret Message */

/* Extra Var Table */
.extraVarsList{ border-color:#333;}
.extraVarsList caption{ color:#999;}
.extraVarsList em{ color:#ff6600;}
.extraVarsList th,
.extraVarsList td{ border-color:#333;}
.extraVarsList th{ background:#222;}
.extraVarsList td{ background:#000;}
.extraVarsList td .inputNum{ border-color:#444; background:#333;}

/* Tag Cloud */
.tagCloud{border-color:#666;}
.tagCloud .tagHeader{border-color:#999; color:#fff; background-color:#666; background-image:url(../images/black/bgThDefault.gif);}
.tagCloud .tagHeader strong{ color:#ff6600;}
.tagCloud li.rank1 a{ background:#12d763; color:#fff;}
.tagCloud li.rank2 a{ color:#eee;}
.tagCloud li.rank3 a{ color:#00b4b5;}
.tagCloud li.rank4 a{ color:#ddd;}
.tagCloud li.rank5 a{ color:#ccc;}

/* Layer */
#popup_menu_area{background:#fff; border-color:#eee;}
#popup_menu_area ul{ border-color:#ddd;}
#popup_menu_area li a{ color:#000;}

/* Pagination */
.pagination.a1 a{ color:#fff;}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{ background-color:#222 !important; }
.pagination.a1 a,
.pagination.a1 strong,
.pagination.a2 a,
.pagination.a2 strong{ border-color:#333;}
.pagination.a1 a,
.pagination.a1 strong,
.pagination.a1 a.prev,
.pagination.a1 a.prevEnd,
.pagination.a1 a.next,
.pagination.a1 a.nextEnd,
.pagination.a2 a,
.pagination.a2 strong,
.pagination.a2 a.prev,
.pagination.a2 a.prevEnd,
.pagination.a2 a.next,
.pagination.a2 a.nextEnd{ background-color:#000;}
